<app-loading></app-loading>

<div class="row row-cols-3 row-cols-md-4 g-4" *ngIf="servicios.length > 0">
    <div class="col animated fadeIn mt-4" *ngFor="let servicio of servicios">
        <div class="card">
            <img [src]="servicio.image">
            <div class="card-body">
                <h5 class="card-title"><strong>{{servicio.name}}</strong></h5>
                <p class="card-text">
                    {{servicio.description}}
                </p>
            </div>
        </div>
    </div>
</div>