<app-loading></app-loading>
<div class="container">
    <form [formGroup]="servicioForm" (ngSubmit)="crearServicio()">
        <div class="row mt-5">
            <div class="col-sm form-group">
                <label for="exampleInputEmail1">{{'serviciosPage.nombre' | translate}}</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="nombre">
            </div>
            <div class="col-sm form-group">
                <label for="exampleFormControlSelect1">{{'serviciosPage.imagen' | translate}}</label>
                <select class="form-control" id="exampleFormControlSelect1" formControlName="imagen">
                    <option *ngFor="let imagen of listImagenes">{{imagen.nombreImagen}}</option>
                </select>
            </div>
            <div class="col-sm form-group">
                <label for="exampleFormControlSelect1">{{'serviciosPage.categoria' | translate}}</label>
                <select class="form-control" id="exampleFormControlSelect1" formControlName="categoria">
                    <option *ngFor="let categoria of listCategorias" >{{categoria.nombreCategoria}}</option>
                </select>
            </div>
        </div>

        <div class="row mt-5 form-group">
            <div class="col-sm form-group">
                <label for="exampleFormControlSelect1">{{'serviciosPage.pais_servicio' | translate}}</label>
                <select class="form-control" id="exampleFormControlSelect1" formControlName="pais">
                    <option *ngFor="let pais of listPaises">{{pais.nombreTerritorio}}</option>
                </select>
            </div>
            <div class="col-sm form-group">
                <label for="exampleFormControlTextarea1">{{'serviciosPage.descripcion' | translate}}</label>
                <textarea rows="3" [maxlength]="maxCaracteres" style="resize: none;" [(ngModel)]="caracteres" class="form-control" formControlName="descripcion"></textarea>
                <span class="form-help">{{'Cantidad: ' + (maxCaracteres - caracteres.length)}}</span>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-primary mt-4 mb-3">
                <i class="fa fa-plus mr-1"></i>
                {{ 'serviciosPage.crear' | translate }}
            </button>
        </div>

    </form>
</div>