<app-loading></app-loading>
<div class="container">
    <form [formGroup]="servicioForm" (ngSubmit)="crearServicio()">
        <div class="row mt-5">
            <div class="col-sm form-group">
                <label>{{'serviciosPage.nombre' | translate}}</label>
                <input type="email" class="form-control" [ngStyle]="{'border-color':submitted && f.nombre.errors ? 'red':'gray'}" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="nombre" autofocus>
            </div>
            <div class="col-sm form-group">
                <label>{{'serviciosPage.imagen' | translate}}</label>
                <select class="form-control" formControlName="imagen" [ngStyle]="{'border-color':submitted && f.imagen.errors ? 'red':'gray'}">
                    <option value="" [selected]="true">-- Seleccione --</option>
                    <option *ngFor="let imagen of listImagenes" [value]="imagen.idImagen">{{imagen.nombreImagen}}
                    </option>
                </select>
            </div>
            <div class="col-sm form-group">
                <label>{{'serviciosPage.categoria' | translate}}</label>
                <select class="form-control" formControlName="categoria" [ngStyle]="{'border-color':submitted && f.categoria.errors ? 'red':'gray'}">
                    <option value="" [selected]="true">-- Seleccione --</option>
                    <option *ngFor="let categoria of listCategorias" [value]="categoria.idCategoria">
                        {{categoria.nombreCategoria}}</option>
                </select>
            </div>
        </div>

        <div class="row mt-5 form-group">
            <div class="col-sm form-group">
                <label>{{'serviciosPage.pais_servicio' | translate}}</label>
                <select class="form-control" formControlName="pais" [ngStyle]="{'border-color':submitted && f.pais.errors ? 'red':'gray'}">
                    <option value="" [selected]="true">-- Seleccione --</option>
                    <option *ngFor="let pais of listPaises" [value]="pais.idTerritorio">{{pais.nombreTerritorio}}
                    </option>
                </select>
            </div>
            <div class="col-sm form-group">
                <label>{{'serviciosPage.descripcion' | translate}}</label>
                <textarea rows="3" [maxlength]="maxCaracteres" style="resize: none;" class="form-control" formControlName="descripcion" [ngStyle]="{'border-color':submitted && f.descripcion.errors ? 'red':'gray'}"></textarea>
                <span class="form-help">{{'general.cantidad' | translate}} {{(maxCaracteres - f.descripcion.value.length)}}</span>
            </div>
        </div>
    </form>
    <hr>
    <h2 style="text-align: center;">Tarifas</h2>

    <table class="table table-bordered">
        <thead class="thead">
            <tr>
                <th scope="col">Valor</th>
                <th scope="col">Unidad</th>
                <th scope="col">Moneda</th>
                <th scope="col">Pais</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tarifa of listTarifas; let i = index">
                <td>
                    <input type="number" class="form-control" [(ngModel)]="tarifa.valor" autofocus>
                </td>
                <td>
                    <select class="form-control" [(ngModel)]="tarifa.unidad">
                        <option value="" [selected]="true" value="0">-- Seleccione --</option>
                        <option *ngFor="let unidad of listUnidades" [value]="unidad.idUnidad">{{unidad.nombreUnidad}}
                        </option>
                    </select>
                </td>
                <td>
                    <select class="form-control" [(ngModel)]="tarifa.moneda">
                        <option value="" [selected]="true" value="0">-- Seleccione --</option>
                        <option *ngFor="let moneda of listMonedas" [value]="moneda.idMoneda">{{moneda.nombreMoneda}}
                        </option>
                    </select>
                </td>
                <td>
                    <select class="form-control" [(ngModel)]="tarifa.pais">
                        <option value="" [selected]="true" value="0">-- Seleccione --</option>
                        <option *ngFor="let pais of listPaises" [value]="pais.idTerritorio">
                            {{pais.nombreTerritorio}}
                        </option>
                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-secondary" (click)="eliminarFila(i)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="text-center">
        <button type="button" class="btn btn-primary mt-4 mb-3" (click)="agregarFila()">
            <i class="fa fa-plus mr-1"></i>
            {{ 'general.agregar' | translate }}
        </button>
    </div>

    <hr>

    <div class="text-center">
        <button class="btn btn-primary mt-4 mb-3" (click)="crearServicio()">
            <i class="fa fa-plus mr-1"></i>
            {{ 'serviciosPage.crear' | translate }}
        </button>
        <button type="button" class="btn btn-secondary mt-4 mb-3 ml-3" (click)="limpiarCampos()">
            <i class="fa fa-trash mr-1"></i>
            {{ 'general.limpiar' | translate }}
        </button>
    </div>
</div>