/* You can add global styles to this file, and also import other style files */

a {
    cursor: pointer;
}

.app-container {
    min-height: 320px;
    overflow: hidden
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

.degradado {
    background-color: linear-gradient(to top, rgba(250, 103, 103, 1) 0%, rgba(249, 25, 84, 1) 65%, rgba(249, 25, 84, 1) 100%);
}

.btn-primary {
    background: rgba(249, 25, 84, 1) !important;
    background-color: rgba(249, 25, 84, 1) !important;
    border-color: rgba(249, 25, 84, 1) !important;
    box-shadow: none !important;
}

.btn-primary:active:focus {
    background-color: rgb(165, 32, 32) !important;
    border-color: rgb(250, 0, 67) !important;
    box-shadow: none !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar.mat-primary {
    background: rgba(249, 25, 84, 1) !important;
    color: #fff;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

table thead {
    color: #fff;
    background-color: gray
}