/* You can add global styles to this file, and also import other style files */

a {
    cursor: pointer;
}

.app-container {
    min-height: 320px;
    overflow: hidden
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

.degradado {
    background-color: linear-gradient(to top, rgba(250, 103, 103, 1) 0%, rgba(249, 25, 84, 1) 65%, rgba(249, 25, 84, 1) 100%);
}

.btn-primary {
    background-color: rgba(249, 25, 84, 1);
    border-color: rgba(249, 25, 84, 1);
}