<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>Woaho</h1>
        <span class="menu-spacer"></span>
        <div>
            <button mat-button [routerLink]="'/accounts'"> {{'homePage.toolbar.profesionales' | translate}} </button>
            <button mat-button [routerLink]="'/create-account'"> {{'homePage.toolbar.categorias' | translate}} </button>
            <button mat-button [routerLink]="'/contacts'"> {{'homePage.toolbar.servicios' | translate}} </button>
            <button mat-button [routerLink]="'/create-contact'"> {{'homePage.toolbar.Monedas' | translate}} </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>