<nav class="navbar navbar-expand-md navbar-dark navbar-light bg-faded">


    <a class="navbar-brand">
        <img src="../../../favicon.ico" width="30" height="30" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- active -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['servicios']">{{ 'homePage.toolbar.servicios' | translate}}</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['opciones']">{{ 'homePage.toolbar.general' | translate}}</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['heroes']">{{ 'homePage.toolbar.categorias' | translate}}</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['about']">{{ 'homePage.toolbar.Monedas' | translate}}</a>
            </li>
        </ul>

        <span class="fill-space"></span>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item form-inline my-2 my-lg-0" routerLinkActive="active">
                <a class="nav-link my-2 my-sm-0" [routerLink]="['about']">Salir</a>
            </li>
        </ul>

    </div>
</nav>

<router-outlet></router-outlet>