<div class="container pt-5 mt-5">
    <div class="row justify-content-center h-100">
        <div class="col-sm-8 align-self-center text-center">
            <div class="card shadow">
                <h4 class="card-header" style="background-color:  rgba(249, 25, 84, 1);color:white">Woaho</h4>
                <div class="card-body center-block">
                    <form [formGroup]="loginForm" (ngSubmit)="validarLogin()">
                        <div class="form-group">
                            <label for="username">Login</label>
                            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Clave</label>
                            <div class="input-group">
                                <input [type]="blnEscribio ? 'text' : 'password'" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                <div class="input-group-append">
                                    <span class="input-group-text" (click)="cambioTexto()">
                                        <i class="fa" [ngClass]="{'fa-eye-slash': !blnEscribio,'fa-eye': blnEscribio}"></i>
                                      </span>
                                </div>
                            </div>
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-primary">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Ingresar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>