<ion-header class="ion-no-border">
    <ion-toolbar mode="ios">
        <ion-title color="primary" size="default">
            {{titulo}}
        </ion-title>        
        <ion-buttons slot="start">
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/" mode="md"></ion-back-button>                
            </ion-buttons>        
        </ion-buttons>

        <ion-buttons slot="end" *ngIf="blnOpciones">
            <ion-button (click)="mostrarOpciones( $event )">
                <ion-icon slot="end" name="ellipsis-vertical"></ion-icon>
            </ion-button>        
        </ion-buttons>

    </ion-toolbar>
</ion-header>
